<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{../../static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{../../static/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/tickets.css" th:href="@{../../static/css/tickets.css}"/>
    <script src="../../static/js/echarts.min.js" th:src="@{../../static/js/echarts.min.js}"></script>
    <title>Manager Statistics</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{index}">Tickets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="index.html" th:href="@{index}">Message<span class="badge">4</span><span
                        class="sr-only">(current)</span></a></li>
                <li class="active"><a href="statistics.html" th:href="@{statistics}">Statistics</a></li>
                <li><a href="settlement.html" th:href="@{settlement}">Venue Settlement</a></li>
                <li><a href="analysis.html" th:href="@{analysis}">Analysis</a> </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome, Smith <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../account/index.html" th:href="@{../logout}">Sign out</a></li>
                        <li><a href="../account/register.html" th:href="@{../register}">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="mainpage">

    <h2> Member Status</h2>
    <div id="member" style="width: 1100px;height:400px;"></div>

    <h2> Finance Status</h2>
    <div id="finance" style="width: 1100px;height:400px;"></div>
    <div class="err-msg"></div>

    <h2> Venue Status</h2>
    <div id="venue" style="width: 1100px;height:400px;"></div>

</div>

<script src="../../static/js/jquery-3.1.1.min.js" th:src="@{../../static/js/jquery-3.1.1.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{../../static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:inline="javascript">

    var memberChart = echarts.init(document.getElementById('member'));


    // ******************************** first chart  *******************************
    var liveOption = {
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data:['预订次数','退订次数','完成次数']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                name: 'UserID',
                type : 'category',
                data : ['User ID','User ID','User ID','User ID','User ID','User ID','User ID']
            }
        ],
        yAxis : [
            {
                name: 'Time Count',
                type : 'value'
            }
        ],
        series : [
            {
                name:'预订次数',
                type:'bar',
                stack: 'Member Status',
                data:[620, 732, 701, 734, 1090, 1130, 1120]
            },
            {
                name:'退订次数',
                type:'bar',
                stack: 'Member Status',
                data:[120, 132, 101, 134, 290, 230, 220]
            },
            {
                name:'完成次数',
                type:'bar',
                stack: 'Member Status',
                data:[60, 72, 71, 74, 190, 130, 110]
            }
        ]
    };
    memberChart.setOption(liveOption);
    $.ajax({
        url: '/manager/memberStatus',
        data: '',
        dataType: 'json',
        success: function (data) {
            console.log(data);
            if (data.result) {
                liveOption.xAxis[0].data = Object.keys(data.userIdList).map(function(k) { return data.userIdList[k] });
                liveOption.series[0].data = Array.from(data.bookTime);
                liveOption.series[1].data = Array.from(data.unsubscribeTime);
                liveOption.series[2].data = Array.from(data.completeTime);
                // console.log(liveOption);
                memberChart.setOption(liveOption);
            } else {
                var error_msg = '<p class="errtip">	<strong>Error</strong>：' + data.reason + '</p>';
                $(".err-msg").html(error_msg);
            }

        }

    });

    var financeChart = echarts.init(document.getElementById('finance'));
    var financeOption = {
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data:['预订金额','退订金额','完成金额']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    name: 'Time',
                    type : 'category',
                    data : ["12-7","12-8","12-9","12-10","12-11","12-12"]
                }
            ],
        yAxis : [
            {
                name: 'Income',
                type : 'value'
            }
        ],
        series : [
            {
                name:'预订金额',
                type:'bar',
                stack: 'Day Income',
                data:[620, 732, 701, 734, 1090, 1130, 1120]
            },
            {
                name:'退订金额',
                type:'bar',
                stack: 'Day Income',
                data:[120, 132, 101, 134, 290, 230, 220]
            },
            {
                name:'完成金额',
                type:'bar',
                stack: 'Day Income',
                data:[60, 72, 71, 74, 190, 130, 110]
            }
        ]
    };

    financeChart.setOption(financeOption);
    $.ajax({
        url: '/manager/financeStatus',
        data: '',
        dataType: 'json',
        success: function (data) {
            console.log(data);
            if (data.result) {
                financeOption.xAxis[0].data = Object.keys(data.dateList).map(function(k) { return data.dateList[k] });
                financeOption.series[0].data = Array.from(data.bookMoney);
                financeOption.series[1].data = Array.from(data.unsubscribeMoney);
                financeOption.series[2].data = Array.from(data.completeMoney);
                // console.log(liveOption);
                financeChart.setOption(financeOption);
            } else {
                var error_msg = '<p class="errtip">	<strong>Error</strong>：' + data.reason + '</p>';
                $(".err-msg").html(error_msg);
            }
            financeChart.setOption(financeOption);
        }

    });


    var venueChart = echarts.init(document.getElementById('venue'));
    var venueOption = {
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data:['支付金额','会员优惠金额']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                data : ['Venue Name','Venue Name','Venue Name','Venue Name','Venue Name','Venue Name','Venue Name']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'支付金额',
                type:'bar',
                stack: 'seat Status',
                data:[620, 732, 701, 734, 1090, 1130, 1120]
            },
            {
                name:'会员优惠金额',
                type:'bar',
                stack: 'seat Status',
                data:[120, 132, 101, 134, 290, 230, 220]
            }
        ]
    };
    venueChart.setOption(venueOption);

    $.ajax({
        url: '/manager/getsettlement',
        data: '',
        dataType: 'json',
        success: function (data) {

            if (data.result) {
                venueOption.xAxis[0].data = Object.keys(data.venueNameList).map(function(k) { return data.venueNameList[k] });
                venueOption.series[0].data = Array.from(data.realConsumption);
                venueOption.series[1].data = Array.from(data.memberDiscount);


                venueChart.setOption(venueOption);
            } else {
                var error_msg = '<p class="errtip">	<strong>Error</strong>：' + data.reason + '</p>';
                $(".err-msg").html(error_msg);
            }

        }

    });

</script>
</body>
</html>