<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{../../static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css"
          th:href="@{../../static/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/tickets.css" th:href="@{../../static/css/tickets.css}"/>
    <link rel="stylesheet" href="../../static/css/other.css" th:href="@{../../static/css/other.css}"/>
    <script src="../../static/js/echarts.min.js" th:src="@{../../static/js/echarts.min.js}"></script>
    <title>场馆分析</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{index}">Tickets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html" th:href="@{index}">Venue Status<span
                        class="sr-only">(current)</span></a></li>
                <li><a href="scene.html" th:href="@{scene}">Venue Scene</a></li>
                <li><a href="info.html" th:href="@{info}">Venue Info</a></li>
                <li><a href="statistics.html" th:href="@{statistics}">Statistics</a></li>
                <li class="active"><a href="analysis.html" th:href="@{analysis}">Analysis</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../account/index.html" th:href="@{../logout}">Sign out</a></li>
                        <li><a href="../account/register.html" th:href="@{../register}">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="mainpage">
    <div class="container-fluid">
        <div class="col-md-12">

            <div class="col-md-6" style="width: 600px;height:300px;">
                <div class="panel panel-info">
                    <div class="panel-heading">具体活动</div>
                    <table class="table table-hover" id="frontTable">
                        <tr th:each="activity:${venueAnalysis}">
                            <td class="activityName" th:text="${activity}" style="width: 66%;">活动a</td>
                            <td style="width: 34%">
                                <button class="details">查看详情</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="memberNumber" style="width: 600px;height:300px;" class="col-md-6">
                会员数量折线图
            </div>

        </div>
        <div class="col-md-12">

            <div id="profitAverage" style="width: 600px;height: 300px;" class="col-md-6">
                过去一年不同活动收益变化（每个季度统计一次）直方图
            </div>

            <div id="unitPriceChange" style="width: 600px;height: 300px;" class="col-md-6">
                会员订单单价变化折线图
            </div>

        </div>
        <div class="col-md-12">

            <div id="profitDistribution" style="width: 600px;height: 300px;" class="col-md-6">
                过去一年收益分布扇形图
            </div>

            <div id="activityDistribution" style="width: 600px;height: 300px;" class="col-md-6">
                过去一年会员订票活动类型分布扇形图
            </div>

        </div>
    </div>

</div>

<script src="../../static/js/jquery-3.1.1.min.js" th:src="@{../../static/js/jquery-3.1.1.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{../../static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $('.details').on('click', function () {
        var type = $(this).parents("tr").find(".activityName").text();
        var inputs = {type:type};
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/venue/getActivityType",
            data: inputs,
            dataType: "json",
            success: function (data) {
                window.location.href = "details.html";
            }
        })

    });

    var memberNumberChart = echarts.init(document.getElementById('memberNumber'));
    var memberNumberOption = {
        title: {
            text: '场馆活跃会员数量变化'
        },
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value',
            interval: 1,
            axisLabel: {
                formatter: '{value} 人次'
            }
        },
        series: [{
            data: [820, 932, 901, 934, 1290, 1330, 1320],
            type: 'line'
        }]
    };
    $.ajax({
        url: '/venue/memberNumber',
        data: '',
        dataType: 'json',
        success: function (data) {
            if (data.result) {
                memberNumberOption.xAxis.data = Array.from(data.monthList);
                memberNumberOption.series[0].data = Array.from(data.memberNumberList);
            }
            memberNumberChart.setOption(memberNumberOption);
        }
    });

    var profitAverageChart = echarts.init(document.getElementById("profitAverage"));
    var profitAverageOption = {
        title: {
            text: '场馆活动平均总收益'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        xAxis: [
            {
                type: 'category',
                data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '收益（单位：元）',
                min: 0,
                axisLabel: {
                    formatter: '{value} 元'
                }
            }
        ],
        series: [
            {
                type: 'bar',
                data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
            }
        ]
    };
    $.ajax({
        url: '/venue/profitAverage',
        data: '',
        dataType: 'json',
        success: function (data) {
            if (data.result) {
                profitAverageOption.xAxis[0].data = Array.from(data.activityType);
                profitAverageOption.series[0].data = Array.from(data.profitAverage);
            }
            profitAverageChart.setOption(profitAverageOption);
            // profitChangeChart.setOption(profitChangeOption);
        }
    });

    var unitPriceChangeChart = echarts.init(document.getElementById("unitPriceChange"));
    var unitPriceChangeOption = {
        title: {
            text: '会员订单单价变化'
        },
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value} 元'
            }
        },
        series: [{
            data: [820, 932, 901, 934, 1290, 1330, 1320],
            type: 'line'
        }]
    };
    $.ajax({
        url: '/venue/unitPriceChange',
        data: '',
        dataType: 'json',
        success: function (data) {
            if (data.result) {
                unitPriceChangeOption.xAxis.data = Array.from(data.monthList);
                unitPriceChangeOption.series[0].data = Array.from(data.unitPrice);
            }
            unitPriceChangeChart.setOption(unitPriceChangeOption);
        }
    });

    var profitDistributionChart = echarts.init(document.getElementById("profitDistribution"));
    var profitDistributionOption = {
        title: {
            text: '不同类型活动场馆收益分布变化'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['直接访问', '邮件营销', '联盟广告']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '直接访问',
                type: 'bar',
                data: [320, 332, 301, 334, 390, 330, 320]
            },
            {
                name: '邮件营销',
                type: 'bar',
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '联盟广告',
                type: 'bar',
                data: [220, 182, 191, 234, 290, 330, 310]
            }
        ]
    };
    $.ajax({
        url: '/venue/profitDistribution',
        data: '',
        dataType: 'json',
        success: function (data) {
            JSON.stringify(data.result);
            if (data.result) {

                profitDistributionOption.legend.data = Array.from(data.activityType);
                profitDistributionOption.xAxis.data = Array.from(data.monthList);
                for (var i = 0; i != data.activityType.length; i++) {
                    profitDistributionOption.series[i].name = data.activityType[i];
                    profitDistributionOption.series[i].data = data.profitPerMonth[i];
                }
            }
            profitDistributionChart.setOption(profitDistributionOption);
        }
    });

    var activityDistributionChart = echarts.init(document.getElementById("activityDistribution"));
    var activityDistributionOption = {
        title: {
            text: '活动分布变化'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['直接访问', '邮件营销', '联盟广告']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '直接访问',
                type: 'bar',
                data: [320, 332, 301, 334, 390, 330, 320]
            },
            {
                name: '邮件营销',
                type: 'bar',
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '联盟广告',
                type: 'bar',
                data: [220, 182, 191, 234, 290, 330, 310]
            }
        ]
    };
    $.ajax({
        url: '/venue/activityDistribution',
        data: '',
        dataType: 'json',
        success: function (data) {
            JSON.stringify(data.result);
            if (data.result) {

                activityDistributionOption.legend.data = Array.from(data.activityType);
                activityDistributionOption.xAxis.data = Array.from(data.monthList);
                for (var i = 0; i != data.activityType.length; i++) {
                    activityDistributionOption.series[i].name = data.activityType[i];
                    activityDistributionOption.series[i].data = data.numberPerMonth[i];
                }
            }
            activityDistributionChart.setOption(activityDistributionOption);
        }
    });
</script>
</body>
</html>