<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{../../static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css"
          th:href="@{../../static/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/tickets.css" th:href="@{../../static/css/tickets.css}"/>
    <link rel="stylesheet" href="../../static/css/other.css" th:href="@{../../static/css/other.css}"/>
    <script src="../../static/js/echarts.min.js" th:src="@{../../static/js/echarts.min.js}"></script>
    <title>场馆分析</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{index}">Tickets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html" th:href="@{index}">Venue Status<span
                        class="sr-only">(current)</span></a></li>
                <li><a href="scene.html" th:href="@{scene}">Venue Scene</a></li>
                <li><a href="info.html" th:href="@{info}">Venue Info</a></li>
                <li><a href="statistics.html" th:href="@{statistics}">Statistics</a></li>
                <li class="active"><a href="analysis.html" th:href="@{analysis}">Analysis</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../account/index.html" th:href="@{../logout}">Sign out</a></li>
                        <li><a href="../account/register.html" th:href="@{../register}">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="mainpage">
    <div class="container-fluid">
        <div class="col-md-12" style="height: 300px;">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">具体活动</div>
                    <table class="table table-hover" id="frontTable">
                        <tr th:each="activity:${venueAnalysis}">
                            <td class="activityName" th:text="${activity}" style="width: 66%;">活动a</td>
                            <td th:href="" style="width: 34%">查看详情</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="memberNumber" class="col-md-6">
                会员数量折线图
            </div>
        </div>
        <div class="col-md-12" style="height: 300px;">
            <div id="profitChange" class="col-md-6">
                过去一年不同活动收益变化（每个季度统计一次）直方图
            </div>
            <div id="unitPriceChange" class="col-md-6">
                会员订单单价变化折线图
            </div>
        </div>
        <div class="col-md-12" style="height: 300px;">
            <div id="profitDistribution" class="col-md-6">
                过去一年收益分布扇形图
            </div>
            <div id="activityDistribution" class="col-md-6">
                过去一年会员订票活动类型分布扇形图
            </div>
        </div>
    </div>

</div>
<script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{../../static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
        var memberNumberChart = echarts.init(document.getElementById("memberNumber"));
        var memberNumberOption = {
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line'
            }]
        };
        $.ajax({
            url: '/venue/memberNumber',
            data: '',
            dataType: 'json',
            success: function (data) {
                if (data.result) {
                    memberNumberOption.xAxis[0].data = Array.from(data.monthList);
                    memberNumberOption.series[0].data = Array.from(data.memberNumberList);
                }
                console.log(memberNumberOption.xAxis[0].data);
                console.log(memberNumberOption.series[0].data);
                memberNumberChart.setOption(memberNumberOption);
            }
        });

        var profitChangeChart = echarts.init(document.getElementById("profitChange"));
        var profitChangeOption = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                data:['蒸发量','降水量','平均温度']
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '水量',
                    min: 0,
                    max: 250,
                    interval: 50,
                    axisLabel: {
                        formatter: '{value} ml'
                    }
                },
                {
                    type: 'value',
                    name: '温度',
                    min: 0,
                    max: 25,
                    interval: 5,
                    axisLabel: {
                        formatter: '{value} °C'
                    }
                }
            ],
            series: [
                {
                    name:'蒸发量',
                    type:'bar',
                    data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
                },
                {
                    name:'降水量',
                    type:'bar',
                    data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
                },
                {
                    name:'平均温度',
                    type:'line',
                    yAxisIndex: 1,
                    data:[2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
                }
            ]
        };
        $.ajax({
            url: '/venue/profitChange',
            data: '',
            dataType: 'json',
            success: function (data) {
                if (data.result) {
                    profitChangeOption.xAxis[0].data = Array.from(data.monthList);
                    profitChangeOption.series[0].data = Array.from(data.numberList);
                }
                profitChangeChart.setOption(profitChangeOption);
            }
        });

        var unitPriceChangeChart = echarts.init(document.getElementById("unitPriceChange"));
        var unitPriceChangeOption = {
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line'
            }]
        };
        $.ajax({
            url: '/venue/unitPriceChange',
            data: '',
            dataType: 'json',
            success: function (data) {
                if (data.result) {
                    unitPriceChangeOption.xAxis[0].data = Array.from(data.monthList);
                    unitPriceChangeOption.series[0].data = Array.from(data.unitPrice);
                }
                console.log(unitPriceChangeOption.xAxis[0].data);
                console.log(unitPriceChangeOption.series[0].data);
                unitPriceChangeChart.setOption(unitPriceChangeOption);
            }
        });

        var profitDistributionChart = echarts.init(document.getElementById("profitDistribution"));
        var profitDistributionOption = {
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line'
            }]
        };
        $.ajax({
            url: '/venue/profitDistribution',
            data: '',
            dataType: 'json',
            success: function (data) {
                if (data.result) {
                    profitDistributionOption.xAxis[0].data = Array.from(data.monthList);
                    profitDistributionOption.series[0].data = Array.from(data.numberList);
                }
                profitDistributionChart.setOption(profitDistributionOption);
            }
        });

        var activityDistributionChart = echarts.init(document.getElementById("activityDistribution"));
        var activityDistributionOption = {
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line'
            }]
        };
        $.ajax({
            url: '/venue/activityDistribution',
            data: '',
            dataType: 'json',
            success: function (data) {
                if (data.result) {
                    activityDistributionOption.xAxis[0].data = Array.from(data.monthList);
                    activityDistributionOption.series[0].data = Array.from(data.numberList);
                }
                activityDistributionChart.setOption(activityDistributionOption);
            }
        });
</script>
</body>
</html>