<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{../../static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css"
          th:href="@{../../static/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/tickets.css" th:href="@{../../static/css/tickets.css}"/>
    <link rel="stylesheet" href="../../static/css/other.css" th:href="@{../../static/css/other.css}"/>
    <script src="../../static/js/echarts.min.js" th:src="@{../../static/js/echarts.min.js}"></script>
    <title>活动详情</title>
</head>
<body>
<div class="mainpage">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="col-md-4">
                <p>
                    票价指数
                </p>
                <p th:text="${details.price}">

                </p>
            </div>
            <div class="col-md-4">
                <p>
                    入座率指数
                </p>
                <p th:text="${details.seat}">

                </p>
            </div>
            <div class="col-md-4">
                <p>
                    总收益指数
                </p>
                <p th:text="${details.profit}">

                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="price-seatingRatio" class="col-md-6" style="width: 600px;height: 300px;">票价与入座率关系图</div>
            <div id="profit-price" class="col-md-6" style="width: 600px;height: 300px;">总收益与票价关系图</div>
        </div>
    </div>
</div>

<script src="../../static/js/jquery-3.1.1.min.js" th:src="@{../../static/js/jquery-3.1.1.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{../../static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var priceSeatingChart = echarts.init(document.getElementById('price-seatingRatio'));
    var priceSeatingOption = {
        title: {
            text: '票价与入座率的关系'
        },
        xAxis: {
            type: 'value',
            scale: true,
            axisLabel: {
                formatter: '{value}元'
            }
        },
        yAxis: {
            type: 'value',
            scale: true,
            axisLabel: {
                formatter: '{value}%'
            }
        },
        series: [{
            symbolSize: 20,
            data: [
                [10.0, 8.04],
                [8.0, 6.95],
                [13.0, 7.58],
                [9.0, 8.81],
                [11.0, 8.33],
                [14.0, 9.96],
                [6.0, 7.24],
                [4.0, 4.26],
                [12.0, 10.84],
                [7.0, 4.82],
                [5.0, 5.68]
            ],
            type: 'scatter'
        }]
    };
    $.ajax({
        url: '/venue/priceSeatingFunction',
        data: '',
        dataType: 'json',
        success: function (data) {
            if (data.result) {
                // alert(data);
                priceSeatingOption.series[0].data = Array.from(data.priceSeating);

            }
            // alert(priceSeatingOption.series[0].data);
            priceSeatingChart.setOption(priceSeatingOption);
        }
    });


    var profitPriceChart = echarts.init(document.getElementById('profit-price'));

    profitPriceOption = {
        title: {
            text: '收益与票价的关系'
        },
        xAxis: {
            type: 'value',
            scale: true,
            axisLabel: {
                formatter: '{value}元'
            }
        },
        yAxis: {
            type: 'value',
            scale: true,
            axisLabel: {
                formatter: '{value}元'
            }
        },
        series: [{
            symbolSize: 20,
            data: [
                [10.0, 8.04],
                [8.0, 6.95],
                [13.0, 7.58],
                [9.0, 8.81],
                [11.0, 8.33],
                [14.0, 9.96],
                [6.0, 7.24],
                [4.0, 4.26],
                [12.0, 10.84],
                [7.0, 4.82],
                [5.0, 5.68]
            ],
            type: 'scatter'
        }]
    };
    $.ajax({
        url: '/venue/profitPriceFunction',
        data: '',
        dataType: 'json',
        success: function (data) {
            if (data.result) {
                // alert(data);
                profitPriceOption.series[0].data = Array.from(data.profitPrice);
            }
            // alert(profitPriceOption.series[0].data);
            profitPriceChart.setOption(profitPriceOption);
        }
    });


</script>
</body>
</html>x