<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{../../static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css"
          th:href="@{../../static/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/tickets.css" th:href="@{../../static/css/tickets.css}"/>
    <link rel="stylesheet" href="../../static/css/hotel.css" th:href="@{../../static/css/hotel.css}"/>
    <link rel="stylesheet" href="../../static/css/other.css" th:href="@{../../static/css/other.css}"/>
    <title>Venue Index</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{index}">Tickets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html" th:href="@{index}">Venue Status<span
                        class="sr-only">(current)</span></a></li>
                <li class="active"><a href="scene.html" th:href="@{scene}">Venue Scene</a></li>
                <li><a href="info.html" th:href="@{info}">Venue Info</a></li>
                <li><a href="statistics.html" th:href="@{statistics}">Statistics</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../account/index.html" th:href="@{../logout}">Sign out</a></li>
                        <li><a href="../account/register.html" th:href="@{../register}">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="mainpage">
    <div class="col-md-12">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">已发布的计划</div>
            <div class="table-responsive ">
                <table id="roomTable" class="table table-hover">
                    <tr>
                        <th>计划编号</th>
                        <th>场馆名</th>
                        <th>活动日期</th>
                        <th>活动类型</th>
                        <th>活动描述</th>
                        <th>前排座位价格</th>
                        <th>后排座位价格</th>
                    </tr>
                    <tr th:each="plan:${sceneplan}">
                        <td th:text="${plan.pid}"></td>
                        <td th:text="${plan.vname}"></td>
                        <td th:text="${#dates.format(new java.util.Date(plan.date),'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${plan.type}"></td>
                        <td th:text="${plan.description}"></td>
                        <td th:text="${plan.fprice}"></td>
                        <td th:text="${plan.bprice}"></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-info">
            <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
            <div class="panel-heading">现场购票</div>
            <br/>
            <br/>
            <br/>
            <div class="buy">
                <div class="col-md-12">
                    输入会员号：<input type="text" id="mid"/>
                    输入活动计划号: <input type="text" id="pid"/>
                    输入前排座位数：<input type="text" id="fsnumber"/>
                    输入后排座位数：<input type="text" id="bsnumber"/>
                    <button onclick="buy()">购买</button>
                </div>
                <div class="col-md-12">
                    总价：<label id="aprice"></label>元
                </div>
            </div>
            <br/>
            <br/>
            <br/>

        </div>
        <div class="panel panel-info">
            <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
            <div class="panel-heading">检票登记</div>
            <br/>
            <br/>
            <br/>
            <div class="check">
                <div class="col-md-12">
                    输入单号：<input type="text" id="cid"/>
                    <button onclick="check()">检票</button>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

</div>

<!--Scripts-->
<script src="../../static/js/jquery-3.1.1.min.js" th:src="@{../../static/js/jquery-3.1.1.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{../../static/js/bootstrap.min.js}"></script>
<script src="../../static/js/promptForm.js" th:src="@{../../static/js/promptForm.js}"></script>
<script type="text/javascript" th:inline="javascript">
    function buy() {
        var mid = document.getElementById("mid").value;
        if (mid == "") {
            mid = 0;
        }
        var pid = document.getElementById("pid").value;
        var fsnumber = document.getElementById("fsnumber").value;
        // var fprice = document.getElementById("fprice").value;
        var bsnumber = document.getElementById("bsnumber").value;
        // var bprice = document.getElementById("bprice").value;
        var inputs = {mid: mid, pid:pid, fsnumber: fsnumber, bsnumber: bsnumber};
        alert(JSON.stringify(inputs));
        $.ajax({
            type: "POST",
            url: '/venue/buy',
            data: inputs,
            dataType: 'json',
            success: function (data) {
                alert(JSON.stringify(data));
                var aprice = data.aprice;
                var label = document.getElementById("aprice");
                label.innerText = aprice;
                location.reload();
            }
        });

    }

    function check() {
        var cid = document.getElementById("cid").value;
        var inputs = {cid: cid};
        $.ajax({
            type: "POST",
            url: '/venue/check',
            data: inputs,
            dataType: 'json',
            success: function (data) {
                alert("已检票");
                location.reload();
            }
        });
    }
</script>
</body>
</html>